.layout.home.keyboard {
    display: flex;
}

.panel.main > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.panel.main.cloud:not(.is-logged-in){
    position: relative;
}

.login-backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 28, 0.5);
}

.login-popup {
    width: 250px;
    height: 100px;
    border-radius: 2px;
    background: #262626;
    border: 1px solid #C5B4E3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-popup i {
    --size: 24px;
}

.login-popup p {
    margin: 0;
}

.login-popup p a {
    text-decoration: underline;
    cursor: pointer;
}

.login-popup p a:hover {
    color: #FFA40D;
}