.actuation.keyboard {
    display: grid;
}

.content .page .layout.actuation.keyboard .panel.main {
    display: flex;
    flex: 2;
}

.actuation.keyboard .panel.second .column.rapid-trigger-value {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 55px;
}
.actuation.keyboard .panel.second .column.rapid-trigger-value p {
    position: absolute;
    font-size: 8px;
}
.actuation.keyboard .panel.second .column.rapid-trigger-value p.label {
    left: 15px;
    bottom: -25px;
}
.actuation.keyboard .panel.second .column.rapid-trigger-value input {
    transform: rotate(-270deg);
    width: 180px;
    --track-height: 20px;
    --thumb-size: 0px;
}
.actuation.keyboard .panel.second .column.rapid-trigger-value input::-webkit-slider-runnable-track  {
    border-radius: 0!important;
}
.actuation.keyboard .panel.second .column.rapid-trigger-value .range.gauge .gauge-tooltip {
    transform:  translateX(60%);
    position: absolute;
    top: calc(var(--value) * 1% - 10px);
    width: 50px;
    background: white;
    border-radius: 5px;
    color: black;
    padding: 4px;
    font-size: 10px;
}

.actuation.keyboard .panel.second {
    display: flex;
    justify-content: space-between;
}
.actuation.keyboard .panel.second .field.title {
    margin-bottom: 10px;
}

.actuation.keyboard .panel.second .rapid-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.actuation.keyboard .panel.main .column.slider-column {
    width: 240px;
}
.actuation.keyboard .panel.main .column .key-press-slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.actuation.keyboard .panel.main .column .key-press-slider .range {
    position: absolute;
}
.actuation.keyboard .panel.main .column .key-press-slider input {
    width: 180px;
    --track-height: 20px;
    --thumb-size: 0px;
}

.actuation.keyboard .panel.main .column .key-press-slider input::-webkit-slider-runnable-track  {
    border-radius: 0!important;
}

.actuation.keyboard .panel.main .column .key-press-slider .range.gauge {
    transform: rotate(90deg);
}

.actuation.keyboard .panel.main .column .key-press-slider .range.gauge .gauge-tooltip {
    transform: rotate(-90deg) translateY(-132%) translateX(-100%);
    position: absolute;
    left: calc(var(--value) * 1%);
    width: 50px;
    background: white;
    border-radius: 5px;
    color: black;
    padding: 4px;
    font-size: 10px;
}

.actuation.keyboard .panel.main .column .key-press-slider .range.gauge .gauge-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--white-1);
    right: -10px;
  }
.actuation.keyboard .panel .column .label-with-action {
    justify-content: left;
    gap: 5px;
}
.actuation.keyboard .panel .column .label-with-action h3 {
    margin: 0;
}

  .actuation.keyboard .panel.third ul {
    border: 1px solid var(--white-2);
    margin: 0;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .actuation.keyboard .panel.third ul li {
    list-style: none;
    margin-bottom: 4px;
  }

.field.visualisation-toggle {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
